.espacio-container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.espacio-container.no-comercio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    /* Full height if no commerce found */
}

.espacio-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.espacio-card:hover {
    transform: translateY(-5px);
}

.espacio-card img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.espacio-card h3 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444;
}

.espacio-card p {
    font-size: 0.8em;
    color: #777;
    line-height: 1.3;
    margin-bottom: 10px;
}

.espacio-card .btn {
    background-color: #007bff;
    /* Bootstrap primary blue */
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.espacio-card .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.search-categoria button{
    margin: 0;
}


.espacios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}