
/* Contenedor principal de la página de noticias */
.noticias-container {
    padding: 20px;
    background-color: #f4f7f6;
    color: #333;
}

/* Título principal de la página */
.noticias-title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 2.5rem;
}



/* --- Estilos para las categorías --- */
.noticias-categorias {
    margin-bottom: 30px;
}

.noticias-categorias-title {
    color: #34495e;
    margin-bottom: 15px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;
}

.noticias-categorias-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    scrollbar-width: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
}

.noticias-categoria-item {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex
;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

}

.noticias-categoria-item.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

/* --- Estilos para la lista de noticias --- */
.noticias-list-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.noticia-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.4rem;
}

.noticia-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.noticia-item-header {
    padding: 15px;
}

.noticia-item-title {
    margin: 0;
    font-size: 1.25rem;
    color: #2c3e50;
}

.noticia-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.noticia-item-details {
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que esta sección crezca para alinear los pies de página */
}

.noticia-item-category {
    background-color: #3498db;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    align-self: center; /* Alinea la categoría a la izquierda */
    margin: 10px;
}

.noticia-item-resumen {
    font-size: 0.85rem;
    color: #7f8c8d;
    margin: 10px 0;
}

.noticia-item-date,
.noticia-item-author {
    font-size: 1rem;
    font-weight: 600;
    color: #666;
    margin-top: auto; /* Empuja estos elementos al final */
}

/* Mensaje cuando no hay noticias */
.no-noticias {
    text-align: center;
    padding: 50px;
    color: #7f8c8d;
    grid-column: 1 / -1; /* Ocupa todo el ancho de la grilla */
}


.no-noticias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.2em;
    color: #888;   
}
.no-noticias-message {
    margin: 0;
    color: #888;
    text-align: center;
}