

 .no-payments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.2em;
    color: #888;   
}
.no-payments-message {
    margin: 0;
    color: var(--color-text-primary);
    text-align: center;
}